 h1  {
       text-align: center;
       font-size: 19pt;
       color: #000099;
       margin-top:15%;
       margin-bottom: 5px;
       text-decoration: underline;
   border: 3px solid #ff0000;
    border-radius: 25px;
    background-color:#ffffff;
    padding: 15px
    }
    
    table {
       margin: 5px;
       width: 290px;
       width:70%; margin-left:15%; margin-right:15%; margin-top:2%;
     
    }
    
    th {
       padding: 3px;
       background-color: #ffffff;
    }
    
    td {
       padding-left: 8px;
       padding-right: 8px;
       border: 1px solid #990000;
       background-color: #ffffcc;
    }
    
    #trHeader {
       text-decoration: underline;
       color: #990000;
    }
    
    .centerCell {
       text-align: center;
    }



  
 
  p {
    font-family:verdana;
    border: 3px solid #ff0000;
    border-radius: 25px;
    background-color:#ffffff;
    padding: 15px}
